<head>
    <title>Calculator</title>
      <link rel="stylesheet" href="static/main.css" />
      
</head>
<body>
    <div >
    <div class="coluna-50" style="float: left">  
      <form action="/", method="POST">
        <h1>Arabic Number Conversion Tool</h1>
        <h3> Enter the numbers</h3>
        <input type='text' name='numbers' required id='numbers' pattern="([0-9])*"  title="Please enter only numbers"> </input>
        <br>
        <input class="btn" type="submit" value="Convert Numbers" /> 
        <br>
        <br>
        <h3> The number is: </h3>
        <div>
            <h3> {{ result }}  </h3>             
        </div>
      </form>
    </div>
    <div class="image" class="coluna-50" style="float: right;">
      <img src="static/numbers.jpeg" width="600" height="700"/>
    </div>
  </div>
</body>